.staticimg {
    position:relative;
    width: 10%;
    height: 50%;
}

#contact{
    padding-left: 20%;
    padding-right:20%;
}

.nav {
    font-family: 'Roboto', sans-serif;
    position:fixed;
    background-color: rgba(255, 255, 255, 0.89);
}

.nav i {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f9bf20;
}

.nav a {
    font-size: 13px;
    color: #000;
}

.banner{
    padding-top: 52px;
    height: 550px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    background-image: url('');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.banner img {
    margin-left:120px;
    flex-wrap: wrap;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

.bannertxt{
    margin-left: 400px;
    margin-top: -230px;
    flex-wrap: wrap;
}

#pres{
    padding-top: 100px;
}

#pantone {
    padding-top: 200px;
    padding-left: 150px;
    align-items: center;
}

#pantone img{
    height: 159px;
    width: 110px;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

#boxpad {
    padding-bottom: 100px;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

#padbox {
    padding-bottom: 200px;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

#boxpadin {
    padding-top: 200px;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

.vc {
    flex: wrap;
    margin-top: 100px;
    position:relative;
}
.vc img{
    height: 50%;
    width: 5%;
}

.vc2 {
    flex: wrap;
    margin-top: 100px;
    position:relative;
}
.vc2 img{
    width: 10%;
}

.bush{
    margin-top:-170px;
}

/* DRAGGABLE WINDOW ONE */

.draggable {
    width: 300px;
    height: auto;
    background: rgb(235, 235, 235);
    position: relative;
  }
  
  .draggable img{
    height: 159px;
    width: 110px;
    float: right;
  }

  
  .draggable.dragging {
    user-select: none;
  }
  
  .dragger {
    height: 30px;
    background-color: rgb(247, 247, 247);
  }
  
  .dragger::before {
    content: " ";
    color: #212529;
    margin: 5px;
    display: inline-block;
  }
  

  #note2{
      margin-left:400px;
      margin-top: -100px;
      z-index: 1;
      position: relative;
  }

  #note3{
    margin-left:650px;
    margin-bottom: 100px;
    position: relative;
    z-index: -1;
}

.footer a{
    color:#7b8390;
}
